*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../images/lerone-pieters-vF6mSAWAzzU-unsplash\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    color: deepskyblue;
    transition: 888ms all;
    -webkit-transition: 888ms all;
    -moz-transition: 888ms all;
    -ms-transition: 888ms all;
    -o-transition: 888ms all;
}
nav ul li a:hover{
    color: deeppink;
}
.login{
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    background-color: deeppink;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 999ms all;
    -webkit-transition: 999ms all;
    -moz-transition: 999ms all;
    -ms-transition: 999ms all;
    -o-transition: 999ms all;
}
.login:hover{
    transform: scale(1.3);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}